<h1>Listado de ordenes de compra</h1>

<div class="row">
    <div class="col-md-3">
        <button type="button" (click)="crearOrdenCompra()" class="btn btn-primary">
            <i class="fa fa-plus"></i> Nueva orden
        </button>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="input-group">
            <div class="input-group-text bg-white">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Buscar..." >
        </div>
    </div>
</div>

<table class="table table-striped table-hover mt-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cantidad articulos</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr style="cursor: pointer;" *ngFor="let orden of ordenesCompra; let i = index" (click)="details(orden.id)">
            <td>{{ i + 1 }}</td>
            <td>{{ orden.proveedor.nombre }}</td>
            <td>{{ orden.fecha | date }}</td>
            <td>{{ orden.detallesCompra.length }}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" ><i class="fas fa-info-circle"></i></button>
                    <button type="button" class="btn btn-danger" ><i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>