<h4 class="dispaly-4">{{data.repIndex == null ? 'Agregar repuesto a la orden' : 'Modificar repuesto en la orden'}}</h4>
<hr>
<form autocomplete="off" [formGroup]="repuestoForm">
  <div class="form-group">
    <label>Repuesto</label>
    <select name="ItemID" formControlName="idRepuesto" class="form-control" (change)="updatePrice($event.target)">
      <option value="0">-Select-</option>
      <option *ngFor="let repuesto of repuestos" [value]="repuesto.id">{{ repuesto.nombre }}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Precio</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">L.</div>
        </div>
        <input name="precio" type="number" formControlName="precioCompra" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Cantidad</label>
      <input name="cantidad" formControlName="cantidad" type="number" (keyup)="updateTotal()" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">L.</div>
      </div>
      <input name="total" formControlName="total" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark" (click)="submit()"><i class="fas fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" (click)="dialogRef.close()"><i class="fas fa-times"></i> Close</button>
  </div>
</form>