<h1>Listado de Repuestos</h1>

<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" routerLink="/repuestos/agregar">
            <i class="fa fa-plus"></i>  Nuevo
        </button>
    </div>
    <div class="col-md-3 ml-8">
        <button type="button" class="btn btn-primary" routerLink="/categorias/agregar">
            <i class="fa fa-plus"></i>  Agregar Categoria
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="input-group">
            <div class="input-group-text bg-white">
                <i class="fas fa-search"></i>
            </div>
            <input type="text" class="form-control" name="filtroRep" placeholder="Buscar..." [(ngModel)]="filtroRep">
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo de repuesto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repuesto of repuestos | repuestosFilter:filtroRep | paginate: {itemsPerPage: 10, currentPage: pagActual} ; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ repuesto.codigo }}</td>
                    <td>{{ repuesto.nombre | uppercase }}</td>
                    <td>{{ repuesto.categoria.descripcion }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info" (click)="editar(repuesto.id)"><i class="fas fa-pencil-alt"></i></button>
                            <button type="button" class="btn btn-danger" (click)="eliminarRepuesto(repuesto.id)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination-controls (pageChange)="pagActual = $event"></pagination-controls>
    </div>
</div>